* {
    box-sizing: border-box;
    margin: 0;
}

h2 {
    display: block;
    background-color: blue;

}

.izquierda {
    display: inline-block;


}


.navbar {
    background-color: cadetblue;

}

a {
    float: right;
    margin-right: 20px;
    color: white;
    text-decoration: none;

}


.input {
    display: flex;
    justify-content: center;
    
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}










.contenedor {
    float: left;
    width: 25%;


}

.contenedor-abajo {
    float: left;
    width: 25%;
}



.imagen {
    float: left;
    width: 50%;
    margin: 20px;

}

.texto {
    margin: 20px;

}


.clearfix {
    clear: both;
}
























@media screen and (max-width: 1130px) {

    .contenedor {
        float: left;
        width: 50%;

    }

    .contenedor-abajo {
        float: left;
        width: 50%;
    }
}

@media screen and (max-width: 600px) {

    .contenedor {
        float: left;
        width: 100%;

    }

    .contenedor-abajo {
        float: left;
        width: 100%;
    }
}

@media screen and (max-width: 456px) {

    .navbar {
        height: 100px;
    }


    a {
        display: block;


    }

    .imagen {
        width: 100%;

    }

    .texto {
        width: 100%;

    }

    .izquierda {
        display: none;
    }


    .navbar a {
 
        width: 100%;
        margin-right: 0;
        text-align: center;
        padding: 7px;
    }
}